fastapi
uvicorn
python-multipart
python-dotenv

pdfplumber
python-docx

pydantic
pymongo

langchain
langchain-community
sentence-transformers
langchain-text-splitters

chromadb
langchain-huggingface
torch
transformers 
accelerate 
streamlit